@model BlowOut.Models.instruments
@{
    ViewBag.Title = "instrumentRental";
}

<h2>Detailed Information</h2>

<div class="jumbotron">
    <h3>@ViewBag.Instrument (@ViewBag.Type)</h3>
    <img src="@ViewBag.Photo" alt="Alternate Text" />
    <br />
    
    <br />
    <label>Rental Price:  </label>
    <p id="price" style="font-size:large">@ViewBag.Price</p>
    <p class="text-danger">
        After renting an instrument for 18 months, you will own the instrument. If the instrument is returned before renting for a minimum of 3 months there will be a $200 re-stocking fee.
        If you return the instrument after 3 months you forfeit any equity in the instrument accrued from rental fees.
    </p>
</div>

<div>
    <a href="@Url.Action("CreateClient", "Home", new { id = Model.instrumentID }, null)"><img class="card-img-top" src="~/Content/rent now.jpeg" alt="" style="width:300px;height:300px;" /></a>

</div>
    <h3>Other Details</h3>

        
  
    <p>This is a ton of random stuff blah. This is a ton of random stuff blah. This is a ton of random stuff blah. This is a ton of random stuff blah. This is a ton of random stuff blah. This is a ton of random stuff blah. This is a ton of random stuff blah. This is a ton of random stuff blah. This is a ton of random stuff blah. This is a ton of random stuff blah.</p>




