@model IEnumerable<BlowOut.Models.instruments>
@{
    ViewBag.Title = "Rentals";
}


<h2>Rentals</h2>

<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">
        Most Popular Instruments
        <small>Click on one to see more</small>
    </h1>
    @foreach (var rental in Model)
    {
        
        <div class="col-lg-4 portfolio-item">
            <div class="card h-100">
                <a href="@Url.Action("CreateClient", "Home", new { id = rental.instrumentID }, null)"><img class="card-img-top" src="~/Content/@rental.description .jpeg" alt="" style="width:300px;height:300px;" /></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("CreateClient", "Home", new { id = rental.instrumentID }, null)">@rental.description (@rental.type)</a>
                    </h4>
                    <p class="card-text">We have the finest @rental.description that ever existed!</p>
                    <p>Monthly Price: $@rental.price</p>
                </div>
            </div>
        </div>
    }


        

    <!-- /.row -->
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>

</div>
<!-- /.container -->
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>